html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.action-box__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas:
    "played"
    "hand"
}
.card__wrap {
    display: inline-block;
    grid-area: hand;
    margin: 1em;
}
.card__wrap--played {
    grid-area: played;
}

.hand__img {
    max-width: 8em;
}